<div class="place-info" id="place-view-info">
    <h1>{{place.name}}</h1>
    <div class="description">
        {{place.description}}
    </div>
    <ul>
        <li>
            <span>Rating</span> {{place.rating}} / 5
        </li>
        <li>
            <span>Type</span> {{place.type}}
        </li>
        <li>
            <span>Address</span> {{place.address}}
        </li>
        <li>
            <span>Phone</span> {{place.phone}}
        </li>
        <li>
            <span>Lat</span> {{place.lat}}
        </li>
        <li>
            <span>Lng</span> {{place.lng}}
        </li>
    </ul>
</div>
