<div class="place-info" id="place-view-info">
    <h1>{{place.name}}</h1>
    <div class="description">
        {{place.description}}
    </div>
    <ul>
        <li>
            <span>Rating: </span> {{place.rating}} / 5
        </li>
        <li>
            <span>Types: </span> {{place.types?.join(', ')}}
        </li>
        <li>
            <span>Address: </span> {{place.address}}
        </li>
        <li>
            <span>Phone: </span> {{place.phone}}
        </li>
        <li>
            <span>Lat: </span> {{place.lat}}
        </li>
        <li>
            <span>Lng: </span> {{place.lng}}
        </li>
    </ul>
    <div class="pull-right">
        <span>
            <i class="glyphicon glyphicon-eye-open"></i>
            {{place.views}}
        </span>
        <div style="display: inline-block; padding-left: 10px;">
            <button
                *ngIf="place.liked"
                type="button"
                class="btn btn-default btn-danger btn-small"
                (click)="toogleLike()">
                <span class="glyphicon glyphicon-thumbs-up"></span> Remove like
            </button>
            <button
                *ngIf="!place.liked"
                type="button"
                class="btn btn-default btn-success btn-sm"
                (click)="toogleLike()">
                <span class="glyphicon glyphicon-thumbs-up"></span> Add like
            </button>
        </div>
    </div>
</div>
