<div id="search">
    <content>
        <form>
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search...">
              <search-results></search-results>
              <div class="input-group-addon">
                  <span class="glyphicon glyphicon-search"></span>
              </div>
            </div>
          </div>
          <div class="search-example">
              <span>Example</span>: Pizza, Coctails
          </div>
        </form>
        <div class="close-block" id="close-search">
            <span class="glyphicon glyphicon-remove"></span>
        </div>
    </content>
</div>
